/*
Theme Name: Simple Auction
Description: A really simple auction theme
Author: Manoz Kumar Biswas
Theme URI: http::/immanoz.com/
Author URI: http://immanoz.com
Version: 1.0
License: Open Source Licence
License URI: -
Text Domain: Manoz
-----------------------------------------------------------------------------*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: #f7f7f7;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}
a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:hover, a:active, a:focus {
    outline: 0;
}
p {
    margin: 10px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.onsale {
    position: absolute;
}
.container {
    margin: 0 auto;
    width: 75%;
}
.form-control {
    border-radius: 0;
}
.form-group {
    margin-bottom: 5px;
}
/*
*Header
*/
.navbar-brand {
    padding: 0;
}
.navbar-nav > li > a {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 15px;
}
.header_bottom {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    height: auto;
    min-height: 45px;
    margin-top: 50px;
}
.header_bottom p {
    color: #9d9c9c;
    font-size: 12px;
    font-weight: 700;
}
/*
*Main content
*/
.error-404{
text-align: center;
}
#banner {
    margin-bottom: -35px;
}
.main_tag_line {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    margin-top: 0;
    min-height: 35px;
    position: relative;
}
.content-wrap {
    margin-top: -35px;
}
/*
* Sidebar
*/
.sidebar {
    margin-bottom: 10px;
}
.sidebar ul.widget_menu li a:before {
    color: #e8e681;
    content: "";
    display: inline-block;
    font-family: fontawesome;
}
.sidebar .widget_menu > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 2px solid #e7e7e7;
    border-radius: 4px;
    color: #444;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
}
.sidebar .nav-pills > li > a:hover {
    background: none;
    color: #7a7a7a;
}
.sidebar ul.nav li {
    /*border-bottom: 2px solid #e9e9e9;*/
    margin: 0;
}
.sidebar ul.widget_menu li:hover, .sidebar ul.widget_menu li.active {
    border-right: 5px solid #df1f26;
    background: none;
    margin: 0;
}
.sidebar .title.bgcolor {
    background: #df1f26 none repeat scroll 0 0;
}
.sidebar .title {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 0;
    padding: 5px;
    text-transform: uppercase;
}
.sidebar .title {
    background: none;
    color: #d52229;
}
.widget_product-category-widget .title {
    color: #fff;
    background: #df1f26 none repeat scroll 0 0;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 0;
    padding: 5px;
    text-transform: uppercase;
}
.nav.nav-pills.nav-stacked.twitter_feed {
    padding-left: 20px;
}
.sidebar ul.twitter_feed li::before {
    color: #d8d8d8;
    content: "";
    display: inline-block;
    font-family: fontawesome;
    font-size: 40px;
    margin-left: -40px;
    margin-top: 10px;
}
.sidebar ul.twitter_feed li {
    color: #999;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 0;
    padding-left: 20px;
}
.sidebar ul.twitter_feed li a {
    color: #D52229;
    font-weight: 600;
    display: inline;
    padding-left: 0px;
    font-style: italic;
}
.nav.nav-pills.nav-stacked.twitter_feed p {
    clear: both;
    display: inline;
    font-size: 13px;
    font-style: italic;
    margin: 0 auto;
    padding-left: 0;
    position: relative;
    word-wrap: normal;
    color: #999;
}
.widget.widget_margin {
    margin-top: 20px;
}
.widget blockquote {
    color: #727272;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}
/*
Content

*/
.time.auction-time-countdown.hasCountdown {
    font-size: 15px;
}
.products {
}
.contents {
    border-left: 1px solid #c6c6c6;
    margin-left: -30px;
    margin-right: -5px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 5px;
}
.single-product.contents {
    margin-top: 45px;
}
.product .title {
    color: #565555;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
}
.icon-group-btn p.time {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #565555;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
.recent-products .icon-group-btn p.time {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    color: #565555;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
.recent-products .countdown_row.countdown_amount{
    font-size: 20px;
    font-weight: 500;
}
.list-right p.time {
    font-size: 30px;
}
.grid .detail {
    float: right;
    margin-right: 10px;
    text-align: right;
}
/**
modify auction plugin css
*/
.auction-bage {
display: none;
}
.grid .button.product_type_auction,
.grid .button.product_type_auction:hover{
    background: #df1f26 none repeat scroll 0 0;
    border: 1px solid #df1f26;
    border-radius: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
    outline: medium none;
}
.list .button.product_type_auction,
.list .button.product_type_auction:hover{
    background: #df1f26 none repeat scroll 0 0;
    border: 1px solid #df1f26;
    border-radius: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-right: 35px;
    outline: medium none;
    margin-top: 0;
}
#listgrid .list .icon-group-btn {
    clear: both;
    float: left;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    width: 60%;
}
#listgrid .grid .description {
    display: none;
}
#listgrid .list .description {
    display: block;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.list .list-bid-price {
    display: block;
    float: right;
    margin-top: -10px;
    width: 40%;
}
#listgrid .list li .price {
    color: #3e3f3f;
    display: block;
    float: right;
    font-size: 24px;
    margin-right: 60px;
    margin-top: 0;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
.woocommerce span.onsale {
    background-color: #77a464;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    left: 8px;
    line-height: 3.236;
    margin: 0;
    min-height: 10px;
    min-width: 20px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 38px;
}
.detail .button_red {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
/*
single product
*/
.product-bid {
    text-align: center;
}
.my-bid .form-group {
    float: left;
    margin-left: 10px;
    width: 48%;
}
.my-bid .bidme {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
}
.my-bid .form-control {
    font-weight: 700;
    height: 40px;
    text-align: center;
    background: #ebebeb;
    font-size: 18px;
}
.single-product {
    margin-top: 40px;
}
.single-product .product-image > img {
    width: 100%;
}
.single-product .product-title {
    margin: 0;
    padding: 10px 10px;
    font-size: 16px;
    color: #565555;
}
.single-product .product-description > p {
    font-size: 14px;
    color: #565555;
    font-weight: 500;
}
.single-product .product-description {
    padding: 10px;
}
.single-product .product-info {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
}
.single-product .product-tab {
    background: #fff none repeat scroll 0 0;
    border: 0px solid #e8e8e8;
    box-shadow: 0px 0px 2px #e8e8e8;
    margin-top: 30px;
}
.product-tab li a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.product-tab .nav-tabs > li.active > a,
.product-tab .nav-tabs > li.active > a:focus,
.product-tab .nav-tabs > li.active > a:hover {
    background-color: #f84545;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
}
.product-tab li {
    background: #fff none repeat scroll 0 0;
    border-right: 2px solid #f7f7f7;
}
.product-tab li:last-child {
    background: #fff none repeat scroll 0 0;
    border-right: 0 solid #f7f7f7;
}
.product-tab li a:hover {
    background: #F84545;
    color: #fff;
    border: none;
    border-radius: 0;
    font-weight: 500;
}
.product-tab li.active a:hover {
    background: #F84545;
    color: #fff;
    border: none;
    border-radius: 0;
    font-weight: 500;
}
.product-tab div {
    padding: 10px 5px;
}
.tab-pane p {
    color: #565555;;
}
.product-bid .tag-line {
    background: #f9efe6 none repeat scroll 0 0;
    color: #565555;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
}
.product-bid .bid {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px #8f8f8f;
    padding-bottom: 20px;
}
.product-bid .bid .time {
    color: #565555;
    font-size: 20px;
    font-weight: 500;
}
.time.auction-time-countdown.hasCountdown {
    font-size: 15px;
}
.button-left.btn.btn-default {
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    background: #EBEBEB;
}
.button-right.btn.btn-default.button_red {
    color: #fffefe;
    font-size: 16px;
    font-weight: 500;
}
.button-right a {
    color: #fff;
}
.available-bids p.low-bid {
    background: #faf7f5 none repeat scroll 0 0;
    color: #ca7a3b;
    font-size: 14px;
    padding: 6px 15px;
}
.bids {
    font-size: 15px;
    font-weight: 500;
    padding: 0 10px;
    text-align: left;
    color: #6c6c6c;
}
.bids > span {
    padding: 0 20px 0 0;
}
.bid p.exclusive {
    font-size: 11px;
    text-align: left;
}
.buy-now.btn {
    margin-top: 10px;
}
.buy-now.btn a {
    border: 1px solid red;
    border-radius: 0;
    font-size: 18px;
    font-weight: 500;
    color: #f84545;
    background: #f7f7f7;
    padding: 10px;
}
.recent-products {
    margin-top: 40px;
    padding-left: 10px;
}
.recent-products h3 {
    font-size: 20px;
    padding: 10px;
}
#listgrid .recent-products .grid li {
    /*background: #fff none repeat scroll 0 0;*/
    /*box-shadow: 1px 3px 10px #b8b8b8;*/
    /*float: left;*/
    /*height: auto;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 10px;*/
    /*padding: 0 0 10px;*/
    /*width: 31%;*/
}
/*
EXTRA
*/
.capitalize {
    text-transform: uppercase;
}
.button_red {
    border: 1px solid #df1f26;
    border-radius: 0;
    outline: none;
    background: #df1f26 none repeat scroll 0 0;
}
.button_red:hover, .button_red:focus, .button_red:active {
    border: 1px solid #df1f26;
    border-radius: 0;
    outline: none;
    background: #df1f26 none repeat scroll 0 0;
}
.search_bar .form-control {
    border-radius: 0;
    background: #c9c9c9 none repeat scroll 0 0;
}
.search_bar .glyphicon-search {
    color: #fff;
    font-weight: 700;
}
/*
*Registration page
*/
.registration-form h4 {
    font-size: 24px;
}
.products.registration-content {
    margin-top: 60px;
}
.registration-content.login-content {
    /*min-height: 500px;*/
    text-align: center;
}
.registration-content p {
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.login-bar {
    border-right: 5px solid #d4cccd;
    min-height: 300px;
    text-align: left;
    width: 100px;
}
.login-content.login-bar {
    border-left: 5px solid #D4CCCD;
    overflow: hidden;
}
.widget.registration-form {
    margin-top: 20px;
}
.registration-form .form-control {
    border-radius: 0;
    min-height: 40px;
    border: 0;
    padding: 6px 5px;
}
.registration-form .select-control {
    display: inline;
    margin-bottom: 5px;
    width: 32%;
}
.registration-form .button_red {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: #EF907C;
    border: none;
}
.widget.registration-form p {
    font-size: 14px;
    font-weight: 600;
}
.widget.registration-form a {
    color: #EF907C;
}
.registration-form.login-form a {
    display: block;
    text-align: right;
    color: #006EA3;
}
.btn-create-account {
    border: none;
    border-radius: 0;
    background: #3399c5;
    color: #f8f8f8;
    font-size: 20px;
    font-weight: 600;
}
.btn-create-account:hover {
    border: none;
    border-radius: 0;
    background: #3399c5;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
/*
*Footer
*/
#footer {
    border-top: 0 none;
    margin-top: 0px;
    min-height: 300px;
}
.footer_top {
    background: rgba(0, 0, 0, 0) url("assets/img/footertopbg.png") no-repeat scroll 100% 100%;
    min-height: 40px;
}
.footer_middle {
    background: rgba(0, 0, 0, 0) url("assets/img/footerglow.png") no-repeat scroll 100% 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.footer_bottom {
    background: rgba(0, 0, 0, 0) url("assets/img/footerbg.png") repeat scroll 100% 100%;
    clear: both;
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 15px;
}
.social > li {
    padding: 5px 0;
}
.social > li a {
    color: #222;
    font-weight: 500;
    padding: 5px 0 5px 5px;
    text-transform: uppercase;
}
.footer_middle .social i.fa {
    background: #e70505 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
}
.social li .fa.fa-facebook {
    font-size: 14px;
    padding: 5px 8px;
}
.bar {
    border-left: 1px solid #f8f8f8;
    border-right: 1px solid #f8f8f8;
    padding-left: 20px;
    text-align: left;
}
.footer_middle .widget .title {
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.footer_middle .col-md-3:nth-child(2) {
    margin-left: -25px;
    padding-left: 10px;
}
.widget-content img.logo {
    margin-left: -20px;
}
.widget-content > p {
    font-size: 14px;
    font-weight: 500;
}
ul.footer_menu li {
    display: inline-block;
}
.footer_menu a {
    color: #fff;
    font-size: 14px;
    padding: 20px 5px;
}
.footer_menu a:hover {
    text-decoration: underline;
}
.footer_menu li a:before {
    content: "";
    display: block;
    font-weight: 700;
    margin-right: -5px;
    margin-top: -20px;
    position: absolute;
}
.footer_menu li:first-child a:before {
    content: "";
    display: block;
    font-weight: 700;
    margin-right: 20px;
    margin-top: -23px;
    position: absolute;
}
.copyright {
    color: white;
    float: right;
    margin-top: -20px;
    padding-top: 0;
    text-align: right;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   ========================================================================== */
@media only screen  and (min-width: 1100px )and (max-width: 1200px) {
    #listgrid .recent-products .grid li {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 3px 10px #b8b8b8;
        float: left;
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0 0 10px;
        width: 48% !important;
    }
}
@media only screen and (min-width: 992px ) and (max-width: 1200px) {
    #listgrid .grid li {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 3px 10px #b8b8b8;
        float: left;
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0 0 10px;
        width: 31.5%;
    }
    #listgrid .recent-products .grid li .list-right .price {
        border-right: 0 solid #ededed;
        color: #3e3f3f;
        display: inline;
        float: none;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        width: 50%;
    }
    .grid .detail {
        float: none;
        margin-right: 10px;
        text-align: right;
    }
    .recent-products .list-right {
        text-align: center;
    }
    #listgrid .recent-products .grid li {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 3px 10px #b8b8b8;
        float: left;
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0 0 10px;
        width: 48% !important;
    }
}
@media only screen and (max-width: 992px) {
    .products {
        border-left: 0 solid #c6c6c6;
        margin-left: -25px;
        margin-right: -10px;
        overflow: hidden;
        padding-top: 5px;
    }
    .login-bar {
        display: none;
    }
    .product-bid {
        margin-top: 20px;
        text-align: center;
    }
    .contents {
        border-left: 0px solid #c6c6c6;
    }
    #listgrid .list {
        margin-left: 10px;
        margin-right: 0;
        margin-top: 5px;
        padding: 0 20px 0 0;
        width: 100%;
    }
    #listgrid .grid li {
        background: #f7f7f7 none repeat scroll 0 0;
        width: 48%;
    }
    #viewcontrols {
        background: #006DA5 none repeat scroll 0 0;
        padding-right: 10px;
        padding-top: 5px;
        text-align: right;
        width: 100%;
    }
    .registration-form .select-control {
        width: 33%;
    }
    #listgrid .recent-products .grid li {
        background: #fff none repeat scroll 0 0;
        box-shadow: 1px 3px 10px #b8b8b8;
        float: left;
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
        padding: 0 0 10px;
        width: 48%;
    }
}
@media only screen and (max-width: 768px) {
    .products {
        margin-left: -20px;
        margin-right: 5px;
    }
    .single-product .product-content {
        margin-bottom: 20px;
        text-align: center;
    }
    .login-bar {
        display: none;
    }
    .contents {
        border-left: 0px solid #c6c6c6;
    }
    #listgrid .grid li {
        background: #f7f7f7 none repeat scroll 0 0;
        width: 100%;
    }
    #listgrid .grid li .recent-products .grid li {
        background: #f7f7f7 none repeat scroll 0 0;
        margin-bottom: 10px;
        padding: 0 0 10px;
        width: 100%;
    }
    .registration-form .select-control {
        width: 32.5%;
    }
    #viewcontrols {
        display: none;
    }
    .single-product.contents {
        margin-left: -20px;
        margin-top: 45px;
    }
    .nav-tabs.nav-justified > li {
        float: left;
    }
    .product-tab li {
        background: #fff none repeat scroll 0 0;
        border-right: 2px solid #f7f7f7;
    }
    .product-bid .bid {
        margin-top: 30px;
    }
    #listgrid .recent-products .grid li {
        margin-bottom: 20px;
        padding: 0 0 10px;
        width: 100%;
    }
    .bar {
        border-left: 1px solid #f8f8f8;
        border-right: 1px solid #f8f8f8;
        padding-left: 40px;
        text-align: left;
    }
    .copyright {
        color: white;
        float: left;
        margin-top: 20px;
        padding-top: 0;
        text-align: center;
    }
    ul.footer_menu li {
        display: block;
    }
    .footer_menu li a::before {
        content: "";
    }
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
