.products {
    margin-left: -15px;
    margin-right: -15px;
}
/* GRID VIEW */
#listgrid .grid li {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 3px 10px #b8b8b8;
    float: left;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0 0 10px;
    width: 31%;
}
/*#listgrid .grid li:first-child {*/
/*padding: 0px 0px 10px 0px ;*/
/*}*/
#listgrid .grid li img {
    height: 200px;
    text-align: center;
    width: 100%;
}
#listgrid .grid li p.description { display: none; }
/*#listgrid .grid li p{ display: none; }*/
#listgrid .grid li .list-left {
    text-align: center;
    font-size: 24px;
    margin-left: 0px;
    margin-top: 10px;
}
#listgrid .grid li .icon-group-btn { font-size: 14px; }
#listgrid .grid li .list-price-bid {
    display: block;
    width: 100px;
    margin-left: 10px;
}
#listgrid .grid li .list-right .price {
    border-right: 2px solid #ededed;
    color: #3e3f3f;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    width: 50%;
}
#listgrid .grid {
    margin: 10px auto;
    padding: 0;
    width: 100%;
}
/* LIST VIEW */
#listgrid .list {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding: 0 5px;
    width: 100%;
}
#listgrid .list li {
    background: #fff none repeat scroll 0 0;
    box-shadow: 1px 3px 3px #b8b8b8;
    margin-bottom: 20px;
    min-height: 250px;
}
#listgrid .list li img {
    float: left;
    height: 250px;
    padding-bottom: 0;
    width: 100%;
}
.list li .list-image {
    float: left;
    width: 34%;
}
.list .list-style {
    float: right;
    width: 65%;
}
#listgrid ul.list li.alt { background: gray; }
#listgrid .list li p {
    overflow: hidden;
    word-wrap: break-word;
    width: 250px;
}
#listgrid .list li .title {
    color: #565555;
    display: block;
    font-size: 14px;
    overflow: hidden;
    padding: 0 13px;
    text-align: left;
    word-wrap: break-word;
}
#listgrid .list li .list-left {
    clear: both;
    float: none;
    height: 100%;
    margin-top: 15px;
    overflow: hidden;
    padding: 0 10px;
    width: 60%;
}
#listgrid .list li .list-right {
    clear: both;
    float: right;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*clear: both;*/
    /*float: right;*/
    /*margin-top: -130px;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*width: 39%;*/
}
#listgrid .list li .price {
    color: #3e3f3f;
    display: block;
    float: none;
    font-size: 24px;
    margin-right: 10px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
#listgrid .list li .detail {
    display: block;
    float: none;
    text-align: center;
}
/* SWITCH CONTROLS */
.view-controls-list {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: right;
}
.view-controls-grid {
    padding-right: 20px;
    text-align: right;
    width: 100%;
}
#viewcontrols a {
    padding: 0px;
    color: #D52229;
    cursor: pointer;
    margin-top: 5px;
}
#viewcontrols a:hover {
    color: palevioletred;
}
#viewcontrols .active {
    color: palevioletred;
}
/* CART WISHLIST ICON BUTTONS*/
.icon-group-btn a {
    margin: 10px 0;
    float: left; width: 40px; margin-right: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.icon-group-btn a.btn-compare { margin-right: 0; }
.icon-group-btn a span { float: left; line-height: 32px; text-decoration: none; }
.icon-group-btn .icon-cart, .icon-group-btn .icon-wishlist, .icon-group-btn .icon-compare {
    width: 40px;
    height: 32px;
}
.icon-group-btn .icon-cart {
    background: url('icon-a-w-c.png') #777777 no-repeat 8px 8px;
}
.icon-group-btn .icon-wishlist {
    background: url('icon-a-w-c.png') #777777 no-repeat 8px -66px;
}
.icon-group-btn .icon-compare {
    background: url(icon-a-w-c.png) #777777 no-repeat 7px center;
}
.icon-group-btn .icon-cart-text {
    text-indent: -40px; width: 0; height: 32px;
    font-size: 100%; overflow: hidden;
    color: #fff; background: #4FAFC2;
    transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.icon-group-btn .icon-wishlist-text {
    text-indent: -40px; width: 0; height: 32px;
    color: #fff; font-size: 100%;
    overflow: hidden; background: #4FAFC2;
    transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.icon-group-btn .compare-text {
    text-indent: -40px; width: 0; height: 32px;
    color: #fff; background: #4FAFC2; font-size: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
}
.icon-group-btn a:hover .icon-cart {
    background: url(icon-a-w-c.png) #4FAFC2 no-repeat 8px 8px;
}
.icon-group-btn a:hover .icon-cart-text {
    width: 90px;
    text-indent: 0;
}
.icon-group-btn a:hover { width: 130px; }
.icon-group-btn a.btn-wishlist:hover { width: 151px; }
.icon-group-btn a.btn-compare:hover { width: 160px; }
.icon-group-btn a:hover .icon-wishlist-text {
    width: 111px;
    text-indent: 0;
}
.icon-group-btn a:hover .compare-text {
    width: 120px;
    text-indent: 0;
}
.icon-group-btn a:hover .icon-wishlist {
    background: url(icon-a-w-c.png) #4FAFC2 no-repeat 8px -66px;
}
.icon-group-btn a:hover .icon-compare {
    background: url(icon-a-w-c.png) #4FAFC2 no-repeat 7px center;
}
/* MISCELLANEOUS */
.button {
    /*background-color: white;*/
    /*background-image: -webkit-linear-gradient(top, white, white);*/
    /*background-image: -moz-linear-gradient(top, white, white);*/
    /*border: #4FAFC2 solid 2px;*/
    /*display: inline-block;*/
    /*font-size: 18px;*/
    /*font-family: 'Meiryo UI';*/
    /*color: #4FAFC2;*/
    /*text-decoration: none !important;*/
    /*padding: 5px 20px;*/
    /*line-height: inherit;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*border-radius: 2px;*/
    /*margin-top: 13px;*/
    /*margin-bottom: 10px;*/
}
.button:hover {
    opacity: 0.9;
    background: #4FAFC2;
    color: white;
}
.button.red {
    background-color: palevioletred;
    background-image: -webkit-linear-gradient(top, palevioletred, palevioletred);
    background-image: -moz-linear-gradient(top, palevioletred, palevioletred);
    color: white;
    box-shadow: 0 0 5px palevioletred inset, 0 1px 1px palevioletred;
    border: 0px;
}
.button.red:hover {
    opacity: 0.9;
}
